.column{
  display: inline-block;
  vertical-align: top;
}
.column *{
  display: block;
}
html input{
  background-color: #EEEEEE;
}

#leftmaindiv{
  display: inline-block;
  vertical-align: top;
  width:48%;
  margin:0.5%;
}

#LiveGui{
  width:99%;
  margin:0;
  border-style: solid;
  border-color: #555555;
  border-width:0.2em;
  border-radius: 0.4em;
  padding:0.5em;

}
#LiveInfo *{
  vertical-align: top;
}
#XYCanvas{
  display:inline-block;
  width:330px;
  height:210px;
  background-color: #CCCCCC;
}
#XYCanvas *{
  position:relative;
}
.CanvasPoint{
  display: block;
  width:10px;
  height:10px;
  border-radius: 1px;
  background-color: blue;
  transform: translate(50%,50%);
}
#CanvasPen{
  left:50%; top:50%;
  background-color: green;
}


#ToggleThermUpdateLoop{
  background-color: inherit;
}
#ControlCoords{
  margin-top: 1em;
}


#GcodeManager{
  width:99%;
  margin:0;
  margin-top:1em;
  border-style: solid;
  border-color: #555555;
  border-width:0.2em;
  border-radius: 0.4em;
  padding:0.5em;
}
#ManUpdateBuffers{
  display: inline-block;
  vertical-align: top;
}
#GcodeBuffer{
  height: 12em;
  background-color: #EEEEEE;
  border-style: solid;
  border-color: #555555;
  border-width:0.1em;
  overflow: auto;
}
#MotionBuffer{
  height: 12em;
  background-color: #EEEEEE;
  border-style: solid;
  border-color: #555555;
  border-width:0.1em;
  overflow: auto;
}
.BufferLine{
  margin:0;
  margin-top:0.2em;
  padding-left: 0.2em;
  border-bottom-style: solid;
  border-bottom-color: #555555;
  border-bottom-width:0.1em;
}

#rightmaindiv{
  display: inline-block;
  vertical-align: top;
  width:48%;
  margin:0.5%;
}

#settings{
  width:99%;
  margin:0;
  border-style: solid;
  border-color: #555555;
  border-width:0.2em;
  border-radius: 0.4em;
  padding:0.5em;
}

#other{
  width:99%;
  margin:0;
  margin-top:1em;
  border-style: solid;
  border-color: #555555;
  border-width:0.2em;
  border-radius: 0.4em;
  padding:0.5em;
}
